@charset "UTF-8";
body {
  /* width: 100%; */
  margin: 0;
  font-family: Lato;
}

.container-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* header */
.page-index-header {
  /* width: 100vw; */
  /* max-width: 1600px; */
  width: 100%;
  height: 75px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-header-and-main-s2 {
  margin: 0 auto;
  height: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.only-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-head-left-logo {
  display: block;
  width: 44px;
  height: 38px;
  /* padding-top: 18px; */
}

.top-head-searching-img {
  display: block;
  width: 26px;
  height: 27px;
  margin-left: 41px;
  /* padding-top: 28px; */
  fill: white;
}

.top-head-searching-img:hover {
  fill: gray;
}

.top-head-searching-img:active {
  fill: greenyellow;
}

.stripes-top-head-img {
  display: block;
  width: 32px;
  height: 23px;
  /* padding-top: 30px; */
  margin-left: 310%;
}

.user-icon {
  display: block;
  width: 29px;
  height: 29px;
  /* padding-top: 26px; */
  margin-left: 33px;
}

.basket-icon {
  display: block;
  width: 32px;
  height: 29px;
  margin-left: 33px;
  -webkit-transition: fill 1s ease, -webkit-transform 1s ease;
  transition: fill 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, fill 1s ease;
  transition: transform 1s ease, fill 1s ease, -webkit-transform 1s ease;
}

.basket-icon svg {
  width: 32px;
  height: 29px;
  fill: #fff;
}

.basket-icon span {
  display: block;
  position: absolute;
  height: 19px;
  width: 19px;
  text-align: center;
  background-color: #f16d7f;
  border-radius: 50%;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
  margin-left: 23px;
  margin-top: -6px;
}

/* -----main------- */
.page-index-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ad-block-index {
  background-color: #f1e4e6;
  width: 100%;
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-index-wrap {
  max-width: 1600px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-index-adblock {
  display: block;
  width: 800px;
  height: 764px;
}

.vert-red-line {
  display: block;
  height: 92px;
  width: 12px;
  padding-top: 290px;
  margin-left: 64px;
}

.ad-text1-sect1 {
  padding-top: 232px;
  margin-left: 16px;
  /* font: Lato; */
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  text-transform: uppercase;
}

.ad-text2-sect1 {
  font-weight: 700;
  font-size: 37px;
}

.ad-text3-sect1 {
  font-size: 32px;
  color: #f16d7f;
}

.section2-index-main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top_block_section2 {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link_to_page_women,
.link_to_page_man,
.link_to_page_kids {
  position: relative;
  display: inline-block;
  max-width: 360px;
  min-height: 260px;
  background-image: url(../img/background.png);
}

.photo_to_litt_link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.photo_to_litt_link:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.white-rose-title-all {
  position: absolute;
  left: 107px;
  top: 105px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  text-transform: uppercase;
}

.for_men_correct {
  left: 125px;
}

.white-rose-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #f16d7f;
}

.top_block_bottom_long {
  height: 180px;
  width: 100%;
  margin-bottom: 96px;
  position: relative;
  display: inline-block;
  background-image: url(../img/background_for_accesories.png);
}

.for-long-correct {
  left: 488px;
  top: 68px;
}

.photo_to_long_link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.photo_to_long_link:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

/* section3 */
.products-title {
  display: block;
  width: 100%;
  margin: 6px 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products-txt {
  display: block;
  width: 100%;
  margin: 0 0 48px 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.products {
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* border: 2px solid fuchsia; */
}

.products-item {
  display: block;
  max-width: 360px;
  min-height: 581px;
  margin: 0 30px 30px 0;
  position: relative;
  background: #f8f8f8;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 2px solid navy; */
}

.products-item:nth-child(5) {
  margin: 0 0 30px 0;
}

.products-item:nth-child(8) {
  margin: 0 0 30px 0;
}

.products-item-photo {
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.products-item-catalog:hover .products-item-photo {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.products-item-title {
  display: block;
  margin: 24px 0 12px 16.46px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products-item-txt {
  margin: 0 0 18px 16.46px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.products-item-price {
  display: block;
  margin: 0 0 0 16.46px;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products-btn {
  display: block;
  width: 211px;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #f26376;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
}

.products-btn:active {
  background-color: #fff;
  border: 2px solid #f26376;
  color: #f26376;
}

/* ---section--4 ---*/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  /* max-width: 1600px; */
  min-height: 341px;
  padding: 20px;
  margin: 95.5px auto 0 auto;
  background-color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0 90px 0 0;
  /* border: 2px solid rgb(89, 70, 109); */
}

.features-item:nth-child(3) {
  margin: 0;
}

.features-item-icon {
  /* width: 45px; */
  /* height: 31.93px; */
  margin-bottom: 28.07px;
}

.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}

.features-item:nth-child(1) > span:nth-child(2) {
  margin: 0 0 5px 0;
}

.features-item-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.features-item:nth-child(1) > p:nth-child(3) {
  margin: 18px 0 0 0;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* max-width: 1600px; */
  min-height: 448px;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/photosubscribe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F3EEEF;
}

.subscribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 340px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
}

.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  background-image: url("https://i.postimg.cc/Y28TgSb7/d22362bea3cdf98de9818d4394ba8ed3-1.png");
  background-size: 150%;
  background-position: center -10px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.subscribe-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  width: 355px;
}

.subscribe-form-title,
.subscribe-form-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.subscribe-form-title {
  display: block;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.subscribe-form-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 356px;
}

.subscribe-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-btn {
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}

.subscribe-form-btn:active {
  background-color: #F16D7F;
  color: #fff;
}

/* -------------footer----------- */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* max-width: 1600px; */
  width: 100%;
  min-height: 79px;
  /* padding: 20px 235px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222224;
}

.footer-index-wrap {
  width: 1140px;
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
}

.page-footer-socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31.45px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials a svg {
  fill: #000;
}

.page-footer-socials a:hover {
  background-color: #f16d7f;
}

.page-footer-socials a:hover svg {
  fill: #fff;
}

/* ---------------catalog-men--------------------- */
.ad-block-catalog {
  /* width: 1140px; */
  width: 100%;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 148px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ad-block-catalog-wrap {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ad-block-catalog-text {
  display: block;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: -webkit-transform 5s ease;
  transition: -webkit-transform 5s ease;
  transition: transform 5s ease;
  transition: transform 5s ease, -webkit-transform 5s ease;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.catalog-breadcrumbs {
  /* margin: 0 230px 0 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.catalog-breadcrumbs ul :last-child span {
  display: none;
}

.catalog-breadcrumbs ul :last-child a {
  color: #F16D7F;
}

.catalog-breadcrumbs ul a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  margin-right: 5px;
  margin-left: 5px;
}

.catalog-breadcrumbs ul :hover {
  opacity: 0.5;
}

.catalog-menu {
  max-width: 1140px;
  height: 132px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-filter-catalog {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 18px;
  text-transform: uppercase;
}

.menu-filter-icon {
  padding-left: 11px;
}

.text-trending-catalog {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 304px;
}

.corner-vmenu-catalog {
  padding-left: 10px;
}

.size-price-text-catalog {
  padding-left: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  z-index: 5;
}

.menu-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}

.menu-list > li:nth-child(1) {
  margin: 0 0 5px 0px;
}

.menu-list > li:nth-child(2) {
  margin: 0 0 5px -9px;
}

.menu-list > li:nth-child(3) {
  margin: 0 0 5px -4px;
}

.menu-list > li:nth-child(4) {
  margin: 0 0 0 -5px;
}

.list-size-item {
  display: none;
}

.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
  background-image: url(../img/flag_to_checkbox_rose.png);
  background-size: cover;
  background-position: center;
}

.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

/*----- products----- */
.products-item-catalog {
  display: block;
  max-width: 360px;
  min-height: 581px;
  margin: 0 30px 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item-catalog:nth-child(3) {
  margin: 0 0 30px 0;
}

.products-item-catalog:nth-child(6) {
  margin: 0 0 30px 0;
}

.products-item-catalog:nth-child(9) {
  margin: 0 0 30px 0;
}

.catalog-men-pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 284px;
  border: 1px solid #EBEBEB;
  margin: 14px 0 97px;
  /* padding: 11px 0 11px 0; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-men-pagination a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.3;
  float: left;
  padding: 8px 6px;
  text-decoration: none;
}

.catalog-men-pagination a.catalog-men-active {
  color: #EF5B70;
}

.catalog-men-pagination a:hover:not(.catalog-men-active) {
  background-color: #ddd;
}

.features-catalog-correction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  /* max-width: 1600px; */
  min-height: 341px;
  padding: 20px;
  margin: 0 auto 0 auto;
  background-color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer-socials-item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials-item-catalog:nth-child(2) {
  background-color: #F16D7F;
}

.instagram-icon-catalog {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* ------------  product  ------------------ */
/* - slider - */
.product-slider {
  min-height: 777px;
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 0 0 0;
  border: 1px solid #EAEAEA;
}

.carousel-item:nth-child(1) {
  width: 597px;
  height: 724px;
}

.carousel-item:nth-child(2) {
  width: 597px;
  height: 724px;
}

.carousel-item:nth-child(3) {
  width: 597px;
  height: 724px;
}

/* ------------ end slider ---------*/
.product-section3 {
  min-height: 1373px;
  width: 100%;
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-adding-to-cart-wrap {
  max-width: 1141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-adding-to-cart {
  position: absolute;
  height: 601px;
  width: 1141px;
  background: #fff;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-women-collection {
  text-transform: uppercase;
  margin-top: 64px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-women-collection::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  position: absolute;
  background: url(../img/product-horizontal-line.png);
  background-repeat: no-repeat;
  margin: 12px 0 12px 40px;
}

.moschino-cheap-and-chic {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 24px 0 48px 0;
}

.compellingly-actualize-ffully {
  max-width: 555px;
  min-height: 51px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-red-price {
  display: block;
  min-height: 30px;
  max-width: 56px;
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product-menu-box {
  /* border: 3px solid navy; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-between; */
  min-height: 18px;
  width: 361px;
  margin: 130px 0 48.91px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:nth-child(3) > span:nth-child(1) {
  margin: 0 0 0 17px;
}

.product-add-to-button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 47.4px;
  border: 1px solid #ff6a6a;
  text-decoration: none;
  color: #f26376;
  background-color: #fff;
  -webkit-transition: background-color 1s ease, color 100ms ease;
  transition: background-color 1s ease, color 100ms ease;
}

.product-add-to-button-link svg {
  width: 26.01px;
  height: 24.2px;
  fill: #ef5b70;
  margin: 0 22.99px 0 23.5px;
  -webkit-transition: fill 1s ease;
  transition: fill 1s ease;
}

.product-add-to-button-link span {
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.product-add-to-button-link:hover {
  background-color: #f26376;
}

.product-add-to-button-link:hover svg {
  fill: #ffffff;
}

.product-add-to-button-link:hover span {
  color: #ffffff;
}

.product-add-to-button-link:active {
  background-color: #f26376;
  width: 215px;
  height: 50px;
  margin-top: -2px;
}

.product-add-to-button-link:active svg {
  fill: #ffffff;
}

.product-add-to-button-link:active span {
  color: #ffffff;
}

.product-wrap-to-3-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 665px 0 0 0;
}

.cart-ad-block-catalog-head {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.cart-basic-section {
  width: 100%;
  min-height: 998px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.cart-left-top-column {
  margin: 96px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.cart-left-top-column li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 40px;
  -webkit-box-shadow: 11px 16px 20px -13px #00000063;
          box-shadow: 11px 16px 20px -13px #00000063;
}

.cart-left-top-column li img {
  display: block;
  height: 306px;
  width: 262px;
}

.cart-left-top-column li div {
  width: 390px;
  height: 306px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 31px;
}

.cart-left-top-column li div h5 {
  width: 262px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin: 22px auto 22px 0;
}

.cart-left-top-column li div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart-left-top-column li div :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-left-top-column li div :nth-child(2) span {
  color: #EF5B70;
}

.cart-left-top-column li div :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart-left-top-column li div :nth-child(5) span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  margin-left: 24px;
  min-height: 24.95px;
  border: 1px solid #eaeaea;
}

.cart-left-top-column li div :nth-child(6) {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 28px;
  right: 22px;
  fill: #575757;
  -webkit-transition: fill 1s ease;
  transition: fill 1s ease;
}

.cart-left-top-column li div :nth-child(6):hover {
  fill: #EF5B70;
}

.cart-wrap-center-bottoms {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 32px;
}

.cart-wrap-bottom-clear-continue {
  padding: 0;
  width: 682px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-wrap-bottom-clear-continue a {
  margin: 0;
  height: 50px;
  height: 100%;
  border: 1px solid #a4a4a4;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  color: #000000;
  -webkit-transition: background-color 1s ease, color 100ms ease;
  transition: background-color 1s ease, color 100ms ease;
}

.cart-wrap-bottom-clear-continue a:hover {
  color: #fff;
  background-color: #EF5B70;
}

.cart-wrap-bottom-clear-continue a:active {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.cart-wrap-bottom-clear-continue a:nth-child(1) {
  width: 235px;
}

.cart-wrap-bottom-clear-continue a:nth-child(2) {
  width: 225px;
}

.cart-wrap-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 488px;
  min-height: 405px;
  margin: 96px 0 0 0;
}

.cart-wrap-forms fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  margin: 0 0 0 128.51px;
  padding: 0;
}

.cart-wrap-forms fieldset legend {
  margin: 0px 0 20px 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-wrap-forms fieldset input {
  margin: 0 0 20.5px 0;
  outline: 1px solid #a4a4a4;
  padding-top: 12.5px;
  padding-left: 16.73px;
  padding-bottom: 15.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-wrap-forms fieldset input:focus {
  outline: 1px solid #f08896;
}

.cart-adress-submit {
  display: block;
  width: 100.38px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #a4a4a4;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  padding-top: 9.5px;
  padding-bottom: 11.5px;
  padding-left: 14.7px;
  margin: 3px 0 auto 128.51px;
  -webkit-transition: background-color 1s ease, color 100ms ease, border 1s ease, -webkit-transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, -webkit-transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

.cart-adress-submit:hover {
  color: #f26376;
  border: 1px solid #f26376;
  background-color: #fff;
}

.cart-adress-submit:active {
  color: #fff;
  background-color: #f26376;
  border: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cart-checkout {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  margin: 57px auto 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-subtotal {
  width: 108px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 39px 34px 12px auto;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart-total {
  width: 170px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 37px 0px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.cart-total :last-child {
  color: #f16d7f;
}

.cart-button-proceed-checkout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 273px;
  height: 50px;
  margin: 39px 43px 0 auto;
  text-decoration: none;
  background-color: #f16d7f;
}

.cart-button-proceed-checkout span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.cart-button-proceed-checkout::before {
  position: absolute;
  top: -17px;
  content: "";
  display: block;
  border-top: 1px solid #e2e2e2;
  width: 275px;
}

.cart-button-proceed-checkout:hover {
  background-color: #fff;
}

.cart-button-proceed-checkout:hover span {
  color: #f16d7f;
}

.cart-button-proceed-checkout:active {
  outline: 2px solid #f16d7f;
}

.regisration-basic-block {
  width: 100%;
  min-height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.registation-basic-left-column {
  padding: 0;
  height: 100%;
  max-width: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.registration-forms {
  padding: 0;
}

.registration-forms input[type="submit"] {
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: background-color 1s ease, color 100ms ease, border 1s ease, -webkit-transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, -webkit-transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, transform 1s ease;
  transition: background-color 1s ease, color 100ms ease, border 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

.registration-forms input[type="submit"]:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.registration-top-part-form {
  border: none;
  margin: 0;
  padding: 0;
}

.registration-top-part-form legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 64px;
}

.registration-top-part-form input:focus {
  border: 1px solid #f16d7f;
}

.registration-top-part-form :nth-child(3),
.registration-top-part-form :nth-child(5) {
  margin: 20px auto 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 45px;
  padding-left: 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #a4a4a4;
  outline: none;
}

.registration-top-part-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  margin-bottom: 33px;
}

.registration-top-part-form div input {
  margin-right: 10px;
  outline: none;
}

.registration-top-part-form div input:focus {
  border: 1px solid #f16d7f;
  border-radius: 50%;
}

.registration-top-part-form div span {
  margin-right: 20px;
}

.registration-bottom-part-form {
  border: none;
  margin: 0;
  padding: 0;
}

.registration-bottom-part-form legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-bottom-part-form input {
  margin: 20px auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 45px;
  padding-left: 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #a4a4a4;
  outline: none;
}

.registration-bottom-part-form input:focus {
  border: 1px solid #f16d7f;
}

.registration-bottom-part-form :nth-child(5) {
  display: block;
  margin: 15px 0 39px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regisration-basic-right-column {
  margin: 0 0 0 128.51px;
  padding: 0;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
}

.regisration-basic-right-column h5 {
  text-transform: uppercase;
  margin: 64px 0 22px 0;
}

.regisration-basic-right-column p {
  margin-bottom: 21px;
}

.regisration-basic-right-column ul {
  list-style-type: none;
  padding: 0;
}

.regisration-basic-right-column ul li {
  padding-bottom: 16px;
  display: block;
  position: relative;
  margin-left: 42px;
}

.regisration-basic-right-column ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/registration-list-check-mark.svg);
  top: 8px;
  left: -42px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 103px;
  width: 79px;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  visibility: hidden;
}

input:checked ~ .menu-list {
  visibility: visible;
}

#product-check {
  display: none;
}

/* Слайдер */
/*# sourceMappingURL=style.css.map */