body{
    margin: 0 auto;
}

.ad-block-catalog{
    width: 100%;
    background-color: #F8F3F4;
    display: flex;
    min-height: 148px;
    align-items: center;
    justify-content: space-between;
}

.ad-block-catalog-text{
    font-family: Lato;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    margin: 0 0 0 230px;
}

.breadcrumbs{
    margin: 0 230px 0 0;
}

.breadcrumbs-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
}

.breadcrumbs-text-last{
    color: #F16D7F;
}

.catalog-menu{
    max-width: 1140px;
    min-height: 132px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-filter-catalog{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 18px;
    text-transform: uppercase;
}

.menu-filter-icon{
    padding-left: 11px;
}

.text-trending-catalog{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    padding-left: 304px;
}
.corner-vmenu-catalog{
    padding-left: 10px;
}

.size-price-text-catalog{
    padding-left: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}


/*----- products----- */

.products-item-catalog{
    display: block;
    width: 360px;
    margin: 0 30px 30px 0;
    position: relative;
    background: #F8F8F8;
    text-decoration: none;
    box-sizing: border-box;
}

.products-item-catalog:nth-child(3) {
    margin: 0 0 30px 0;
}

.products-item-catalog:nth-child(6) {
    margin: 0 0 30px 0;
}

.products-item-catalog:nth-child(9) {
    margin: 0 0 30px 0;
}

.container-navigation{
    margin: 14px 0 97px;
    padding: 11px 14px 11px 14px;
    height: 44px;
    width: 284px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-catalog-correction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1600px;
    min-height: 341px;
    padding: 20px;
    margin: 0 auto 0 auto;
    background-color: #222224;
    box-sizing: border-box;
}

.page-footer-socials-item-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.page-footer-socials-item-catalog:nth-child(2){
    background-color: #F16D7F;
}

.instagram-icon-catalog{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}